.space-xs {
  margin-top: 1em;
}
.space-sm {
  margin-top: 2em;
}

.space-md {
  margin-top: 3em;
}

.space-lg {
  margin-top: 4em;
}

logo {
  background-color: #5755d9;
  color: white;
  padding: 0 0.1em;
  display: inline-block;
  line-height: 1;
}
